.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_sb{
  justify-content: space-between;
}